<table border="1">
            <tr>
                <td>ID</td>
                <td>Category</td>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
            </tr>
            {{#each data}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.category_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}
        </table>